/*
  file: style.css
  purpose: style the application
  author: Artur Gulik <https://gitlab.com/ArturGulik>
  
  This file is part of 'Destination West'.
  
  'Destination West' is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License,
  or (at your option) any later version.

  'Destination West' is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  'Destination West'. If not, see <https://www.gnu.org/licenses/>.
*/

@import url("styles/canvas.css");
@import url("styles/dialogues.css");
@import url("styles/pause-menu.css");
@import url("styles/equipment.css");
@import url("styles/minigames.css");
@import url("styles/status.css");
@import url("styles/buttons.css");
@import url("styles/notifications.css");
@import url("styles/common.css");
@import url("styles/debug-view.css");
@import url("styles/combat.css");
@import url("styles/button-list.css");

