.button-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.button-list.grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    grid-template-rows: auto;
}

.button-list button {
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    white-space: pre;
    padding: 0;
}

.button-list button::before {
    content: "⮞ ";
    visibility: hidden;
    display: inline-block;
    height: 0;
}

.button-list button.selected,
.button-list button:hover::before {
    visibility: visible;
}
