/*
  file: style.css
  purpose: style the application
  author: Artur Gulik <https://gitlab.com/ArturGulik>
  
  This file is part of 'Destination West'.
  
  'Destination West' is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License,
  or (at your option) any later version.

  'Destination West' is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  'Destination West'. If not, see <https://www.gnu.org/licenses/>.
*/

.eq-button {
    margin-right: 2%;
    height: 40px;
    width: 60px;
    float: right;
}

.button {
    cursor: pointer;
    border-radius: 10%;
    --hover-color: #3e8e41;
    --box-shadow-color: #999;
    box-shadow: 0 5px var(--box-shadow-color);
    transition: transform 0.1s, box-shadow 0.1s;
}
.button:hover {
    background-color: var(--hover-color);
    box-shadow: 0 4px var(--box-shadow-color);
    transform: translateY(1px);
}
.button:active {
  background-color: var(--hover-color);
  box-shadow: 0 0px var(--box-shadow-color);
  transform: translateY(5px);
}

.designer.button {
    background-color: rgb(67,102,94);
}

.designer.button:hover {
    background-color: rgb(77,112,104);
}

.designer.button:active {
    background-color: rgb(77,112,104);
}
