.combat {
  display: none;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#combat-menu {
  position: absolute;
  width: 95%;
  height: 30%;
  bottom: 5%;
  background-color: whitesmoke;
  z-index: 3;
  border-radius: 1cm;
  border: solid 6px black;
  font-size: 42px;
}

#combat-menu .button-list {
  padding: 20px;
}

#combat-menu .button-list.dialogue {
  justify-content: start;
}