/*
  file: style.css
  purpose: style the application
  author: Artur Gulik <https://gitlab.com/ArturGulik>
  
  This file is part of 'Destination West'.
  
  'Destination West' is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License,
  or (at your option) any later version.

  'Destination West' is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  'Destination West'. If not, see <https://www.gnu.org/licenses/>.
*/

#dialogue-div {
    position: absolute;
    width: 90%;
    height: 20%;
    bottom: 5%;
    background-color: whitesmoke;
    z-index: 3;
    border-radius: 1cm;
    border: solid 6px black;
    font-size: 42px;
    padding: 42px;

    /* -webkit-animation: fadein 2s; /\* Safari, Chrome and Opera > 12.1 *\/ */
    /* -moz-animation: fadein 2s; /\* Firefox < 16 *\/ */
    /* -ms-animation: fadein 2s; /\* Internet Explorer *\/ */
    /* -o-animation: fadein 2s; /\* Opera < 12.1 *\/ */
    /* animation: fadein 2s; */

}