/*
  file: style.css
  purpose: style the application
  author: Artur Gulik <https://gitlab.com/ArturGulik>
  
  This file is part of 'Destination West'.
  
  'Destination West' is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License,
  or (at your option) any later version.

  'Destination West' is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  'Destination West'. If not, see <https://www.gnu.org/licenses/>.
*/

#minigame-table{
    width: 768px;
    height: 512px;
    position: absolute;
    z-index: 1;
    background-image: url("../img/minigame_assets/chuck-a-luck_table.png");
}

#dice-area{
    width: 64px;
    height: 224px;
    top: 144px;
    left: 32px;
    position: absolute;
    z-index: 1;
}

#betting-area{
    width: 636px;
    height: 512px;
    position: absolute;
    left: 131px;
    z-index: 1;
}

#score-text{
    /* width: 384px; */
    width: 512px;
    height: 129px;
    position: absolute;
    left: 63px;
    /* top: 242px; */
    top: 192px;
    font-size: 30px;
    text-align: center;
}

#shooting-range{
    width: 90%;
    height: 20%;
    position: absolute;
    top: 70%;
    z-index: 1;
    background-size: cover;
    background-repeat: round;
}

.bullet{
    width: 1%;
    height: 90%;
    position: relative;
    top: 5%;
    z-index: 2;
    background-size: cover;
    background-repeat: round;
}

.arrow{
    width: 5%;
    height: 33%;
    position: absolute;
    z-index: 2;
    background-size: cover;
    background-repeat: round;
}

.flying{
    left: 15% ! important;
}

.dice{
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 2;
}

.betting-spot{
    width: 128px;
    height: 128px;
    position: absolute;
    z-index: 1;
}
