/*
  file: style.css
  purpose: style the application
  author: Artur Gulik <https://gitlab.com/ArturGulik>
  
  This file is part of 'Destination West'.
  
  'Destination West' is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License,
  or (at your option) any later version.

  'Destination West' is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  'Destination West'. If not, see <https://www.gnu.org/licenses/>.
*/

.notification {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 1%;
    top: 5%;
    background-color: whitesmoke;
    z-index: 3;
    border-radius: 1cm;
    font-size: 24px;
    padding: 24px;    
}

.slide-up {
    transform: translateY(-1000%);
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        scale: 100%;
    }
    to {
        transform: translateY(-1000%);
        scale: 20%;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-1000%);
        scale: 20%;
    }
    to {
        transform: translateY(0);
        scale: 100%;
    }
}
